.setpass {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 0 300px 0;
    background: #D0D0D0;
}

.setpass_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    padding: 4rem 2rem;
    margin: 0 15px;
    background: #fff;
}

.setpass_title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.setpass_title h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;

    color: #3C5101;
}

.setpass_title p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;

    color: #626262;
}

.setpass_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.setpass_input-pass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
}

.setpass_input-pass p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0.5rem;

    color: #000000;
}

.password_field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;

    background: #F7F7F7;
    border: 1px solid #B0B0B0;
}

.password_field input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    text-indent: 2px;
    font-size: 16px;
}

.password_field input::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: #B0B0B0;
}

.password_field span {
    cursor: pointer;
}

.setpass_button {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.setpass_button button {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: center;
    border: none;

    width: 100%;
    margin-bottom: 0.5rem;

    background: #698D0C;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 585px) {
    .setpass_title h1 {
        font-size: 30px;
    }

    .setpass_title p {
        font-size: 12px;
    }

    .setpass_input-pass p {
        font-size: 14px;
    }

    .setpass_input-pass {
        padding-bottom: 1rem;
    }

    .setpass_input-pass input::placeholder {
        font-size: 14px;
    }
}