.dashagc {
    display: flex;
    background: #fff;
}

.dashagc_container {
    flex: 12;
    display: flex;
    background: #EFEFEF;
    padding: 1rem 50px 1rem 1rem;
}

.dashagc_container-log {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #fff;
    width: 100%;
    margin-bottom: 2rem;
}

.dashagc_container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.dashagc_container-header h3 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;

    color: #626262;
}

.dashagc_container-input {
    display: flex;
}

.dashagc_search {
    display: flex;
    padding: 8px;
    margin-right: 1rem;
    border: 1px solid #B0B0B0;
}

.dashagc_search input {
    border: none;
    outline: none;
    margin-left: 5px;
}

.dashagc_container-input select {
    border: 1px solid #B0B0B0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #626262;
    outline: none;
}

.dashagc_container-value {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background: #F7F7F7;
}

.dashagc_container-value p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #698D0C;
}

.dashagc-number {
    flex: 1;
}

.dashagc_igc-name {
    flex: 5;
}

.dashagc-member {
    flex: 2;
}

.dashagc-status {
    flex: 3;
}

.dashagc_pres-name {
    flex: 3;
}

.dashagc-date {
    flex: 3;
}

.dashagc-action {
    flex: 4;
}

.dashagc_container-detail {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 1rem 0;
}

.dashagc_container-detail p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #626262;
}

.dashagc-status {
    display: flex;
    align-items: flex-start;

}

.dashagc-status span {
    display: flex;
    padding: 4px 10px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #698D0C;

    background: #EBF4D2;
}

.dashagc-action {
    display: flex;
    align-items: center;
}

.dashagc-action p {
    text-decoration: underline;
    cursor: pointer;
}

.dashagc-action span {
    display: flex;
    padding: 4px 10px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #FF1523;

    background: rgba(255, 21, 35, 0.1);
    margin-left: 2rem;
}

.dashagc_container-log hr {
    border: 0.5px solid #B0B0B0;
}

.dashagc_pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.dashagc_page-number {
    display: flex;
    align-items: center;
}

.dashagc_page-number p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #626262;
    margin-right: 1rem;
}

.dashagc_page-number select {
    border: 1px solid #B0B0B0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    color: #626262;
    outline: none;
}

.dashagc_page-button {
    display: flex;
    align-items: center;
}

.dashagc_page-button p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    margin-right: 1rem;

    color: #626262;
}

.dashagc_page-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B0B0B0;
    padding: 2px 12px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;

    margin-right: 1rem;

    color: #626262;
    cursor: pointer;
}
