.finsec_bvn-steps {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 70px 0 0 0;
    background: #D0D0D0;
}

.finsec_bvn-step {
    display: flex;
    width: 614px;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.finsec_bvn-step p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;

    color: #000000;
}

.finsec_bvn-step span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 32px;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    background: #C5D98F;
    color: #000000;
}

.finsec_bvn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0 300px 0;
    background: #D0D0D0;
}

.finsec_bvn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    padding: 4rem 2rem;
    margin: 0 15px;
    background: #fff;
}

.finsec_bvn-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.finsec_bvn-title h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;

    color: #3C5101;
}

.finsec_bvn-title p {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;

    color: #626262;
}

.finsec_bvn-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.finsec_bvn-code {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
}

.finsec_bvn-code p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0.5rem;

    color: #000000;
}

.finsec_bvn-input_field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;

    background: #F7F7F7;
    border: 1px solid #B0B0B0;
}

.finsec_bvn-input_field input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    text-indent: 2px;
    font-size: 16px;
}

.finsec_bvn-input_field input::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: #B0B0B0;
}

.finsec_bvn-button {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.finsec_bvn-button button {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: center;
    border: none;

    width: 100%;
    margin-bottom: 0.5rem;

    background: #698D0C;

    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;

    color: #FFFFFF;
    cursor: pointer;
}

.finsec_bvn-check {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #626262;
}

@media screen and (max-width: 585px) {
    .finsec_bvn-step p {
        font-size: 20px;
    }
    
    .finsec_bvn-step span {
        width: 86px;
        height: 29px;

        font-size: 12px;
    }

    .finsec_bvn-title h1 {
        font-size: 30px;
    }

    .finsec_bvn-title p {
        font-size: 12px;
    }

    .finsec_bvn-code {
        padding-bottom: 1rem;
    }

    .finsec_bvn-code p {
        font-size: 14px;
    }

    .finsec_bvn-input_field input::placeholder {
        font-size: 14px;
    }
}

@media screen and (max-width: 385px) {
    .finsec_bvn-step p {
        font-size: 16px;
    }
    
    .finsec_bvn-step span {
        font-size: 10px;
    }

    .finsec_bvn-title h1 {
        font-size: 28px;
    }

    .finsec_bvn-title p {
        font-size: 10px;
    }

    .finsec_bvn-code p {
        font-size: 12px;
    }

    .finsec_bvn-input_field input::placeholder {
        font-size: 12px;
    }
}